= form_with(model: document, local: true) do |form|
  - if document.errors.any?
    #error_explanation
      %h2
        = pluralize(document.errors.count, "error")
        prohibited this document from being saved:
      %ul
        - document.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    = form.label :name
    = form.text_field :name, id: :document_name, class: 'form-control'
  .field.form-group
    = form.label :doc_type
    = form.number_field :doc_type, id: :document_doc_type, class: 'form-control'
  .field.form-group
    = form.label :content
    = form.file_field :content, id: :document_content, class: 'form-control-file'
  .actions
    = form.submit 'Submit', class: 'btn btn-primary pull-right'
